name: Deploy ASL Step Function

on:
  push:
    branches:
      - main
    paths:
      - 'Deploy-StepFunction-Asl/**'

  # Allow manual triggering of the workflow
  workflow_dispatch:

jobs:
    aws-step-functions:
        runs-on: ubuntu-latest

        steps:
            - name: Checout code
              uses: actions/checkout@v4

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ secrets.AWS_REGION }}

            - name: Deploy ASL Step Function
              run: |
                echo "Deploying ASL Step Function..."

                # check if the state machine exists
                STATE_MACHINE_ARN="User-onboarding-StateMachine"
                ROLE_ARN="${{ secrets.STEP_FUNCTION_ROLE_ARN }}"

                if aws stepfunctions describe-state-machine --state-machine-arn $STATE_MACHINE_ARN; then
                  echo "State machine exists. Updating..."

                    aws stepfunctions update-state-machine \
                    --state-machine-arn arn:aws:states:us-east-1:123456789012:stateMachine:$STATE_MACHINE_ARN \
                    --definition file://Deploy-StepFunction-Asl/user-onboarding.asl.json
                else
                    echo "State machine does not exist. Creating..."
    
                    aws stepfunctions create-state-machine \
                        --name $STATE_MACHINE_ARN \
                        --definition file://Deploy-StepFunction-Asl/user-onboarding.asl.json \
                        --role-arn $ROLE_ARN
                fi
                
                echo "Deployment completed."
